* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #191d20;
}
h1,
h2 {
  font-family: 'Merriweather', serif;
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #283138;
  padding: 1rem 0;
  color: white;
  border-bottom: 1px solid lightgray;
}
nav a {
  color: white;
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
}
nav a:hover {
  cursor: pointer;
}
.nav-left {
  width: 35%;
  font-size: 26px;
}
.nav-right {
  width: 35%;
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
}
.nav-right a {
  margin-right: 30px;
}
.main-content {
  width: 70%;
  margin: 3rem auto;
}
.search-game-section {
  display: flex;
  justify-content: center;
}
#search-game-input {
  width: 350px;
  font-size: 20px;
  margin-right: 20px;
  padding: 0 0.3rem;
}
#search-game-button {
  font-size: 20px;
  padding: 0.3rem 1rem;
  background-color: dodgerblue;
  color: white;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
#videogames-section {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin: 3rem 0 2rem;
  color: white;
}
.videogame-card {
  position: relative;
}
.videogame-card img {
  height: auto;
  max-width: 300px;
  margin: 0;
  border-radius: 5px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: 0.8s ease;
  background-color: dodgerblue;
  cursor: pointer;
  border-radius: 5px;
}
.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
}

.videogame-card:hover .overlay {
  opacity: 1;
}
.loading-message{
  color: white;
  text-align: center;
  margin-top: 2rem;
}
#videogame-details-section {
  padding: 3rem 0;
}
.videogame-details {
  width: 50%;
  margin: 0 auto;
  padding: 1rem 2rem 2rem;
  background-color: #283138;
  color: white;
  border-radius: 5px;
}
.videogame-details img {
  width: 100%;
  margin: 0.75rem 0;
}
.videogame-details h1 {
  color: white;
  margin-bottom: 0.5rem;
  font-size: 36px;
  border-bottom: 1px solid white;
}
.videogame-details p {
  font-size: 20px;
}
.videogame-details-button {
  display: inline-block;
  text-decoration: none;
  margin-top: 2rem;
  font-size: 20px;
  padding: 0.5rem;
  background-color:dodgerblue;
  color: white;
  cursor: pointer;
}
.error-message{
  color: white;
  text-align: center;
  margin-top: 2rem;
}
#pagination-section{
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 3rem;
}
.pagination-button{
  display: block;
  font-size: 20px;
  padding: 0.8rem;
  color: white;
  background-color: dodgerblue;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid transparent;
}
.pagination-button:hover, .button-active{
  background-color: #283138;
  border: 1px solid white;
}