*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #191d20;
}
h1, h2 {
  font-family: 'Merriweather', serif;
}
nav{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #283138;
  padding: 1rem 0;
  color: white;
}
nav a{
  color: white;
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
}
nav a:hover{
  cursor: pointer;
}
.nav-left{
  width: 30%;
  font-size: 26px;
}
.nav-right{
  width: 30%;
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
}
.nav-right a {
   margin-right: 30px;
}