*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #191d20;
}
h1, h2 {
  font-family: 'Merriweather', serif;
}
nav{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #283138;
  padding: 1rem 0;
  color: white;
}
nav a{
  color: white;
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
}
nav a:hover{
  cursor: pointer;
}
.nav-left{
  width: 30%;
  font-size: 26px;
}
.nav-right{
  width: 30%;
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
}
.nav-right a {
   margin-right: 30px;
}
.main-content{
  width: 60%;
  margin: 3rem auto;
}
.search-game-section{
  display: flex;
  justify-content: center;
}
#search-game-input{
  width: 350px;
  font-size: 20px;
  margin-right: 20px;
  padding: 0 0.3rem;
}
#search-game-button{
  font-size: 20px;
  padding: 0.3rem 1rem;
  background-color:dodgerblue;
  color: white;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
#videogames-section{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin: 3rem 0 2rem;
}
.videogame-card{
  color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.videogame-card img {
  height: auto;
  width: 100%;
  margin: 0;
}
.videogame-text{
  margin: 0;
  padding: 1rem;
  background-color: dodgerblue;
  text-align: center;
  color: white;
}